@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Canela Deck';
  src: url('/src/fonts/CanelaDeck-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font weights if you have bold, italic, etc. */
@font-face {
  font-family: 'Canela Deck';
  src: url('/src/fonts/CanelaDeck-Bold.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}
/* Add font weights if you have bold, italic, etc. */
@font-face {
  font-family: 'Canela Deck';
  src: url('/src/fonts/CanelaDeck-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}

/* Add font weights if you have bold, italic, etc. */
@font-face {
  font-family: 'Canela Text';
  src: url('/src/fonts/CanelaText-Light.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
}
/* Add font weights if you have bold, italic, etc. */
@font-face {
  font-family: 'Canela Text';
  src: url('/src/fonts/CanelaText-LightItalic.woff') format('woff');
  font-weight: italic;
  font-style: normal;
}

/* Add font weights if you have bold, italic, etc. */
@font-face {
  font-family: 'Canela Text';
  src: url('/src/fonts/CanelaText-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 html {
    background-color: #dad7cd;
    font-family: sans-serif;
     
  }

  body{
    font-family: 'Lato', sans-serif;
  }
  
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  @layer utilities {
    .animate-blink {
      animation: blink 0.5s;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3 {
    @apply font-canela-deck;
    
}

p, a, li, span, div {
  font-family: 'sans serif', Verdana, Geneva, Tahoma, sans-serif;
}

  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }
.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #ff9776;
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
    .hamburger {
        display: none;
      }
  
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em; /* Space between tags */
  }
  
  .tag {
    margin: 0.20em;
    padding: 0.5em 1em;
    font-size: 1.2em;
    border-radius: 0.5em;
    background-color: #F8FCFD;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .tag a {
    color: #00539F;
    text-decoration: none;
  }
  
  .tag:hover {
    background-color: rgba(0, 83, 159, 0.1);
    border: 1px solid #00539F;
  }

  a {
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(219, 74, 41);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  a:hover::after {
    transform: translateX(-50%) scaleX(1);
  }
  

a.no-underline {
  position: static;
}

a.no-underline::after {
  content: none;
}

img.sajid {
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
}

/* Override Tailwind Typography styles for ul > li */
.prose ul > li::marker {
  color: rgb(105, 104, 104); /* Replace with your desired color */
}
/* Specific styling for ordered lists (numbers) */
.prose ol > li::marker {
  content: counter(list-item) ". "; /* Ensure numbers are shown */
  color:rgb(105, 104, 104); /* Replace with your preferred number color */
  font-weight: bold; /* Optional: make the numbers bold */
}

.prose h1, 
.prose h2 {  
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-style: normal;
}
