---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

// Fetch the content from the markdown file
const aboutContent = await getCollection('authors', ({ slug }) => slug === 'about');
const pageTitle = Astro.props;


if (!aboutContent.length) {
  throw new Error("No content found for 'about'.");
}

// Extract the necessary data from the content
const { data, render } = aboutContent[0];
const imagePath = data.cover?.src || '/src/assets/Sajid.jpg'; // Assuming cover contains the image path
//const pageTitle = data.title || 'About Me';

// Render the markdown content
const { Content } = await render();
console.log('frontmatter:', aboutContent);
---

<BaseLayout pageTitle={pageTitle}>
  <section class="container mx-auto px-6 py-16">
    <div class="flex flex-col md:flex-row items-center">
      <!-- Column 1: Text -->
      <div class="md:w-1/2">
        <h1 class="text-4xl font-bold mb-6">About Me</h1>
        <Content />
      </div>
      <!-- Column 2: Image -->
      <div class="md:w-1/2 flex justify-center md:justify-end mt-6 md:mt-0">
        <img src={imagePath} alt={data.altText} class="rounded-full w-64 h-64 object-cover" />
      </div>
    </div>
  </section>
</BaseLayout>
