---
import Social from '../components/Social.astro';
import {Icon} from 'astro-icon/components';
const platform = "github";
const username = "withastro";

---

<footer class=" border-t border-gray-700 border-dotted">
  <div class="container w-full max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
    <!-- Left side: RSS Button and Social Icons -->
    <div>
      <!-- Title and RSS Subscribe Button -->
      <h2 class="text-3xl font-bold mb-4 text-gray-600">Want to stay up to date?</h2>
      <a 
        href="/rss.xml"
        class="  inline-block bg-gray-600 hover:bg-orange-400 text-white font-semibold py-2 px-4 rounded mb-6 transition no-underline"
      >
        Subscribe via RSS
      </a>

      <!-- Social Icons -->
      <div class="flex space-x-6 mt-2">
        <!-- Twitter -->
        <a 
          href="https://x.com/sajid233" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-gray-700 hover:text-white transition no-underline"
          aria-label="Twitter"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor"><path d="m7 17l4.194-4.193M17 7l-4.193 4.194m0 0L9.777 7H7l4.194 5.807m1.612-1.614L17 17h-2.778l-3.028-4.193"/><path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2s10 4.477 10 10"/></g></svg>
        </a>
        
        <!-- LinkedIn -->
        <a 
          href="https://www.linkedin.com/in/sajidpervez/" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-blue-800 hover:text-white transition no-underline"
          aria-label="LinkedIn"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24"><g fill="none" ><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zm0 2H6a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1M8 10a1 1 0 0 1 .993.883L9 11v5a1 1 0 0 1-1.993.117L7 16v-5a1 1 0 0 1 1-1m3-1a1 1 0 0 1 .984.821a6 6 0 0 1 .623-.313c.667-.285 1.666-.442 2.568-.159c.473.15.948.43 1.3.907c.315.425.485.942.519 1.523L17 12v4a1 1 0 0 1-1.993.117L15 16v-4c0-.33-.08-.484-.132-.555a.55.55 0 0 0-.293-.188c-.348-.11-.849-.052-1.182.09c-.5.214-.958.55-1.27.861L12 12.34V16a1 1 0 0 1-1.993.117L10 16v-6a1 1 0 0 1 1-1M8 7a1 1 0 1 1 0 2a1 1 0 0 1 0-2"/></g></svg>
        </a>
        
        <!-- GitHub -->
        <a 
          href="https://github.com/SajidPervez" 
          target="_blank" 
          rel="noopener noreferrer"
          class="text-gray-700 hover:text-white transition no-underline"
          aria-label="GitHub"
        >
        <Icon name="github" size="30" />
        </a>
      </div>
    </div>

    <!-- Right side: Page Links -->
    <div class="text-left space-y-4 mr-6">
      <a href="/" class="block text-gray-700 hover:text-white transition relative group">
        Home
        <span class="absolute left-0 bottom-0 h-0.5 bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
      </a>
      <a href="/about/" class="block text-gray-700 hover:text-white transition relative group">
        About
        <span class="absolute left-0 bottom-0 h-0.5 bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
      </a>
      <a href="/blog/" class="block text-gray-700 hover:text-white transition relative group">
        Blog
        <span class="absolute left-0 bottom-0 h-0.5 bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
      </a>
      <a href="/tags/" class="block text-gray-700 hover:text-white transition relative group">
        Tags
        <span class="absolute left-0 bottom-0 h-0.5 bg-white scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300"></span>
      </a>
    </div>
    
  </div>
</footer>
