---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header >
    <div>
        <nav>
            <Hamburger />
            <!-- <ThemeIcon /> -->
            <Navigation />
        </nav>
    </div>
</header>
