---
const { title, subtitle1, subtitle2, backgroundImage, link } = Astro.props;
---

<div>
  <section 
    class="container w-full max-w-7xl mx-auto px-4 py-4 relative flex items-center justify-center h-[400px] md:h-[500px] lg:h-[600px] bg-cover bg-center" 
    style={`background-image: url(${backgroundImage || '/default-background.jpg'})`}
  >
    <div class="absolute inset-0"></div> <!-- Overlay -->
    <div class="relative text-center text-gray-600 z-10">
      <!-- Adjust font sizes for responsiveness -->
      <h1 class="text-4xl md:text-5xl lg:text-7xl font-extrabold">{title || 'Welcome to My Blog'}</h1>
      
      <p class="mt-2 text-base md:text-lg lg:text-xl overflow-hidden animate-none">
        {subtitle1 || 'This is a default subtitle for all pages.'}
      </p>
    
      <p class="mt-2 text-base md:text-lg lg:text-xl overflow-hidden animate-none">
        {subtitle2 || 'This is a default subtitle for all pages.'} <a href={link} class="text-purple-700 font-bold font-canela-text"> MYOB</a>
      </p>
    </div>
  </section>
</div>
