---
import Typewriter from './Typewriter';
import SlideIn from './SlideIn';
const { title, subtitle1, subtitle2, backgroundImage, link } = Astro.props;

const formattedTitle = title?.replace(
  'cybersecurity',
  '<span class="text-yellow-400">cybersecurity</span>'
);

// Calculate the total time for typewriter animation
const typewriterDuration = (formattedTitle?.length || 0) * 0.07; // 70ms per character
---

<div>
  <section 
    class="container w-full max-w-7xl mx-auto relative flex items-center justify-center h-[400px] md:h-[500px] lg:h-[600px] bg-cover bg-center" 
    style={backgroundImage ? `background-image: url(${backgroundImage})` : ''}
  >
    <div class="absolute inset-0"></div> <!-- Overlay -->
    <div class="relative text-center text-gray-600 z-10">
      <!-- Adjust font sizes for responsiveness -->
      <h1 class="text-4xl md:text-5xl lg:text-7xl font-extrabold">
        <Typewriter 
          client:load
          text={formattedTitle || 'Welcome to My Blog'}
          speed={70}
          loop={false}
          className="text-4xl md:text-5xl lg:text-7xl font-extrabold"
        />
      </h1>
      
      <SlideIn client:load delay={typewriterDuration}>
        <p class="mt-2 text-base md:text-lg lg:text-xl overflow-hidden animate-none">
          {subtitle1 || 'This is a default subtitle for all pages.'} 
        </p>
      </SlideIn>
    
      <SlideIn client:load delay={typewriterDuration + 0.2}>
        <p class="mt-2 text-base md:text-lg lg:text-xl overflow-hidden animate-none">
          {subtitle2 || 'This is a default subtitle for all pages.'} <a href={link} class="text-purple-700 font-bold font-canela-text"> MYOB</a>
        </p>
      </SlideIn>
    </div>
  </section>
</div>
