---
import TOCHeading from "./TOCHeading.astro";
const { headings } = Astro.props;

const toc = buildHierarchy(headings);

function buildHierarchy(headings: any) {
  const toc: any[] = [];
  const parentHeadings = new Map();
  
  if (!headings) return toc;
  
  headings.forEach((h: any) => {
    // Skip the Table of Content/Contents headings
    if (h.text.toLowerCase().startsWith('table of content')) return;
    
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      const parent = parentHeadings.get(heading.depth - 1);
      if (parent) {
        parent.subheadings.push(heading);
      }
    }
  });
  
  return toc;
}
---

<nav class="toc">
  
  <ul>
    {toc.map((heading) => <TOCHeading heading={heading} />)}
  </ul>
</nav>