---
import '../styles/output.css';
const { title, subtitle, backgroundImage } = Astro.props;

import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en">
  <head>
    <ViewTransitions/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon-beige.png" sizes="32x32" type="image/png" />
    <title>{title || "Sajid's Corner"}</title>
  </head>
  <body class="font-sans bg-gray-50 text-gray-800">
    <!-- Header with Responsive Navigation -->
    <Header />

    <!-- Main Content Area -->
    <main class="container w-full max-w-7xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
      <slot />
    </main>    
    
    <!-- Footer -->
    <Footer />
  </body>
</html>
